{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button
            type="submit"
            class="my-2 btn btn-primary"
        >Login</button>
        {{ form_end(form) }}
    </div>
{% endblock %}